{% load static %}
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Your Website{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!-- Add other styles if needed -->
    {% block styles %}{% endblock %}
</head>
<body>
    <!-- Bootstrap navigation bar (hat) -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Home button -->
            <a class="navbar-brand" href="{% url 'home' %}">Home</a>
            <a class="navbar-brand" href="{% url 'course_list' %}">Courses</a>
            {% if user.is_staff %}
            <a class="navbar-brand" href="{% url 'review_moder' %}">Moderation</a>
            {% endif %}

            <div class="ml-auto">
                <div class="btn-group">
                    {% if user.is_authenticated %}
                        <!-- Logout button -->
                        <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <!-- Login button -->
                        <a class="btn btn-secondary" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

    <!-- Your content goes here -->
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>
